@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap'); 


body {
    font-family: 'Amatic SC', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: rgb(224, 118, 118);
    background-color: rgb(160, 229, 178);
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
    border: 3px solid rgb(226, 133, 133);
    border-radius: 10px;
    padding: 5px;
    background-color:rgb(240, 255, 244) ;
     }
  
  #listaInput {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  input {
    font-family: 'Amatic SC', sans-serif;
    flex-grow: 1;
    padding: 5px;
    border-style:double;
    border-radius: 12px;
    border-color: rgba(197, 150, 150, 0.829);
    color: rgb(223, 105, 105);
    font-size: 23px;
  }
  
  button {
    font-family: 'Amatic SC', sans-serif;
    margin: 2px;
    border-style:double;
    border-radius: 12px;
    border-color: rgba(197, 150, 150, 0.829);
    padding: 5px 10px;
    font-size: 23px;
    color: rgb(223, 105, 105);
    background-color: rgb(223, 216, 216);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
  }
  
  li.completed {
    text-decoration: line-through;
    background-color: #f0f0f0;
  }
  
  li:hover {
    background-color: #f9f9f9;
  }
  p {
    margin-left: 20px;
    margin-right: 20px;
    
    font-size: 26px;
  }
  #listadoCompleto{
    border: 5px solid rgb(226, 133, 133);
    border-radius: 10px;
    padding: 25px;
    height: 1200px;
    background-color: rgb(240, 255, 244);
    font-size: 23px;
  }